$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body, div[ng-view]{
    height: 100%;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 16px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.4em;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;

    & h1 {
        font-size: 2.618em;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.wh-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 3% 10% 0;
    font-size: 1.68em;

    & li {
        list-style: none;
        flex: 1 1 auto;
    }
    & a {
        color: white;
    }
}

.about {
    // position: fixed;
    z-index: -1000;
    height: 720px; //height of video
}

.tagline {
    position: absolute;
    color: white;
    top:45%;
    left:30%;
    background: rgba(0,0,0,.5);
    padding: 0.5em 1em;
}

.booking {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

.room-bg {
    flex: 3 1 auto;
    min-height: 100%;
    background: url(../images/room-bg.png);
}

.search-room {
    flex: 1 3 auto;
}